node_modules
__sol

lab1
to-do-rapp
to-do-sapp

build
coverage
dist
npm

npm-debug.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.husky/*
.yarn/*

