__sol

node_modules
/.pnp
.pnp.js

base-build
build
build
coverage
dist
npm
!scripts/npm
.DS_Store

npm-debug.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.husky/*
.yarn/*

.idea
